---
- name: Adjust vm.max_map_count
  sysctl:
    name: vm.max_map_count
    value: '{{ es_max_map_count | string }}'
    state: present
    reload: true

- name: Reduce swap usage
  sysctl:
    name: vm.swappiness
    value: 1
    state: present
    reload: true

- name: Create directory for config files
  file:
    path: '{{ es_node_cont_vol }}/conf'
    state: directory
    owner: '{{ es_node_host_uid }}'
    group: docker
    mode: 0775

- name: Create config files
  template:
    src: '{{ item }}'
    dest: '{{ es_node_cont_vol }}/conf/{{ item | basename | replace(".j2", "") }}'
    owner: '{{ es_node_host_uid }}'
    group: 'docker'
    mode: 0644
  register: es_config
  with_fileglob:
    - templates/config/*
