node.name: "{{ hostname }}"
network.host: "{{ es_listen_addr }}"
network.bind_host: "{{ es_listen_addr }}"
network.publish_host: "{{ ansible_local.wireguard.vpn_ip }}"
transport.profiles.default.port: {{ es_node_port | mandatory }}

# Cluster configuration
cluster.name: "{{ es_cluster_name | mandatory }}"
cluster.initial_master_nodes: {{ [(es_master_nodes_names | first)] | to_yaml }}
discovery.seed_hosts: {{ es_master_nodes_and_ports | to_yaml }}
{% if es_cluster_bootstrap and es_master_nodes_names[0] == hostname %}
# should be commented out after bootstrapping
node.roles: [ master ]
{% endif %}
