#!/usr/bin/env bash
# vim: ft=bash

# TODO: add logrotate
logfile="{{ es_pruning_logs_path }}/prune.log"

exec > >(tee -a "$logfile") 2>&1

date --iso-8601=seconds --utc

set -x
{% for query in es_pruning_queries %}
{{ es_pruning_esclean_path }} \
{% if 'fleet' in query %}
  --fleet '{{ query.fleet }}' \
{% endif %}
{% if 'older_than' in query %}
  --older-than '{{ query.older_than }}' \
{% endif %}

{% endfor %}

{ set +x; } 2>/dev/null
